:root{
    --bleu_f:#2DC2F1;
    --bleu: #010335;
    --gray:#F5F5F5;
    --blanc: #FFF;

}

.container{
    width: 700px;
    height: auto;
    margin: 80px 120px;
    display: flex;
    /* background-color: var(--gray); */
}

/* partie gauche  */
.left{
    width: 250px;
    height: auto;
    background-color:var(--bleu) ;
    /* float: left; */
}
.cercle{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: blue;
    display: inline-block;
}
.diema{
    color: var(--blanc);
}
.bleu_f{
    color: #2DC2F1;
    
}
.contact p{ 
      color: #FFF;
      margin: 10px;
}
.contact{
    color: #FFF;
    margin: 10px;
}
.formation p{
    color: #FFF;
    margin: 10px;
}
.langues p{
    color: #FFF;
    margin: 10px;
}
.interet{
    color: #FFF;
    margin: 10px;
}
.tiret{
    position: relative;
    height: 3px;
    width: 15%;
    background-color: var(--bleu_f);
    margin-top: -18px;
}
.contact
{
    padding-top: 10;
}
.classe{
    margin-top: 10px;
}
.classe span{
 margin-top: 17px;
}
.dot{
    margin-top: 5px;
}
.rang_un{
    margin-top: -5px;
}
.rang_quatre{
    margin-top: 5px;
}


.right{
    width: 390px;
    height: auto;
    background-color:var(--gray) ;
    /* float: right; */
    padding: 35px 30px;
    

}
.left{
    justify-content: center;
    align-items: center;
    display: block;
}
.dev{
    color: var(--bleu_f);
}

.dot{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    margin-right: 5px;
    display: inline-block;
    background-color: #2DC2F1;
}
.footer
{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: -200PX;
}
@media only screen and (max-width: 600px){
    .container{
        width: 700px;
        height: auto;
        margin: 80px 120px;
        display: flex;
        /* background-color: var(--gray); */
    }
    
    /* partie gauche  */
    .left{
        width: 250px;
        height: auto;
        background-color:var(--bleu) ;
        /* float: left; */
    }
    .cercle{
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: blue;
        display: inline-block;
    }
    .diema{
        color: var(--blanc);
    }
    .bleu_f{
        color: #2DC2F1;
        
    }
    .contact p{ 
          color: #FFF;
          margin: 10px;
    }
    .contact{
        color: #FFF;
        margin: 10px;
    }
    .formation p{
        color: #FFF;
        margin: 10px;
    }
    .langues p{
        color: #FFF;
        margin: 10px;
    }
    .interet{
        color: #FFF;
        margin: 10px;
    }
    .tiret{
        position: relative;
        height: 3px;
        width: 15%;
        background-color: var(--bleu_f);
        margin-top: -18px;
    }
    .contact
    {
        padding-top: 10;
    }
    .classe{
        margin-top: 10px;
    }
    .classe span{
     margin-top: 17px;
    }
    .dot{
        margin-top: 5px;
    }
    .rang_un{
        margin-top: -5px;
    }
    .rang_quatre{
        margin-top: 5px;
    }
    
    
    .right{
        width: 390px;
        height: auto;
        background-color:var(--gray) ;
        /* float: right; */
        padding: 35px 30px;
        
    
    }
    .left{
        justify-content: center;
        align-items: center;
        display: block;
    }
    .dev{
        color: var(--bleu_f);
    }
    
    .dot{
        height: 10px;
        width: 10px;
        border-radius: 50%;
        margin-right: 5px;
        display: inline-block;
        background-color: #2DC2F1;
    }
    .footer
    {
        display: grid;
        grid-template-columns: repeat(4,1fr);
        gap: -200PX;
    }




    
}
