*/ definition des valeurs par defaut */
*{
    box-sizing: border-box;
    margin :0;
    padding: 0;
}
/* Definition des variables couleurs */
:root{
    --bleu: #030c5A;
    
}
Master computer science <br> EPITA <br> JAVA 5E11 Developper <br> 2012-2015<br>
LANGUES <br> Français:langue maternelle <br> anglais :courant (TOEIC 805) <br> allemand : B2 <br>